# Agendamento das execuções
src/app/scheduler_dev.py

# arquivos de configuração sensíveis
resources/configs/*.json
resources/selectors/*.json
resources/credenciais.json
resources/2Captcha.json

# arquivos genéricos
*.ini

# pastas de cache do Python
**/__pycache__/
